.container {
    border: 1px solid black;
    padding: 8px;
    margin: 16px;
}

.navbar {
 display: flex;   
 gap: 8px;
 
}
a {
    text-decoration: none;
    color: black;

}
.btn {
    padding: 4px;
    background-color: #efefef;
    border: 1px solid grey;
    border-radius: 4px;
}

.show-detail {
    background-color: white;
    border: 4px solid green;
    font-size: 24px;
    padding: 20px;
}

.show-detail:hover {
    background-color: #04AA6D;
}

.table-head {
    background: aqua;
}

.show-song {
    border: none;
    
    background-color: plum;
}

