<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="btn"><a href="/">Home</a></div>
            <div class="btn"><a href="/labels">Labels</a></div>
            <div class="btn"><a href="/songs">Songs</a></div>
        </nav>
        <h1>List Labels</h1>
        <button class="show-detail">Show Detail Duration</button>
        <div>Home</div>
    </div>
</body>
</html>